{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %} 
        <meta-charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script type="text/javascript" src="{% static  '/webcamjs/webcam.min.js' %}"></script>
    </head>
    <body>     
        <div class="wrap">
            {% block one %}
            <footer style="width: 100%; bottom: 0px;">
                <p style = "font-family:roboto,garamond,serif;font-size:18px;">Need assistance? just contact this number: </p>
                <p style = "font-family:roboto,garamond,serif;font-size:18px;"><a href="online@proctor.com">(+60) 123456789(test admin)</a></p>
                  <p style = "font-family:roboto,garamond,serif;font-size:18px;"><a href="online@proctor.com">online@proctor.com</a></p>
              </footer>
            {% endblock %}
        </div>
    </body>
    <footer style="width: 100%; bottom: 0px;position:absolute; bottom:0">
        <p style = "font-family:roboto,garamond,serif;font-size:18px;">Need assistance? just contact this number: </p>
        <p style = "font-family:roboto,garamond,serif;font-size:18px;"><a href="online@proctor.com">(+60) 123456789(test admin)</a></p>
          <p style = "font-family:roboto,garamond,serif;font-size:18px;"><a href="online@proctor.com">online@proctor.com</a></p>
      </footer>
</html>