<!DOCTYPE html>
<html>
  <head>
    <title>Lecturers Proctoring Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/lecturers_proctoring_page/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/lecturers_proctoring_page/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Web background (Rectangle) -->
      <div id="u39" class="ax_default shape1" data-label="Web background">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text ">
          <p><span>`</span></p>
        </div>
      </div>

      <!-- Page (Group) -->
      <div id="u40" class="ax_default" data-label="Page" data-left="0" data-top="0" data-width="1429" data-height="955">

        <!-- Chat Background (Rectangle) -->
        <div id="u41" class="ax_default shape1" data-label="Chat Background">
          <div id="u41_div" class=""></div>
          <div id="u41_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- student roll (Group) -->
        <div id="u42" class="ax_default" data-label="student roll" data-left="191" data-top="121" data-width="1149" data-height="534">

          <!-- student roll three (Group) -->
          <div id="u43" class="ax_default" data-label="student roll three" data-left="191" data-top="121" data-width="1149" data-height="166">

            <!-- Unnamed (Group) -->
            <div id="u44" class="ax_default" data-left="191" data-top="121" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u45" class="ax_default image1">
                <img id="u45_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u45_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u46" class="ax_default icon">
                <img id="u46_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u46_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u47" class="ax_default" data-left="425" data-top="121" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u48" class="ax_default image1">
                <img id="u48_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u48_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u49" class="ax_default icon">
                <img id="u49_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u49_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u50" class="ax_default" data-left="659" data-top="121" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u51" class="ax_default image1">
                <img id="u51_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u51_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u52" class="ax_default icon">
                <img id="u52_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u52_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u53" class="ax_default" data-left="893" data-top="121" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u54" class="ax_default image1">
                <img id="u54_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u54_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u55" class="ax_default icon">
                <img id="u55_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u55_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unusual (Rectangle) -->
              <div id="u56" class="ax_default box_3" data-label="Unusual">
                <div id="u56_div" class=""></div>
                <div id="u56_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u57" class="ax_default" data-left="1127" data-top="121" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u58" class="ax_default image1">
                <img id="u58_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u58_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u59" class="ax_default icon">
                <img id="u59_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u59_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>

          <!-- student roll two (Group) -->
          <div id="u60" class="ax_default" data-label="student roll two" data-left="191" data-top="309" data-width="1149" data-height="166">

            <!-- Unnamed (Group) -->
            <div id="u61" class="ax_default" data-left="191" data-top="309" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u62" class="ax_default image1">
                <img id="u62_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u62_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u63" class="ax_default icon">
                <img id="u63_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u63_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u64" class="ax_default" data-left="425" data-top="309" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u65" class="ax_default image1">
                <img id="u65_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u65_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u66" class="ax_default icon">
                <img id="u66_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u66_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u67" class="ax_default" data-left="659" data-top="309" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u68" class="ax_default image1">
                <img id="u68_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u68_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u69" class="ax_default icon">
                <img id="u69_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u69_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u70" class="ax_default" data-left="893" data-top="309" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u71" class="ax_default image1">
                <img id="u71_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u71_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u72" class="ax_default icon">
                <img id="u72_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u72_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u73" class="ax_default" data-left="1127" data-top="309" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u74" class="ax_default image1">
                <img id="u74_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u74_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u75" class="ax_default icon">
                <img id="u75_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u75_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>

          <!-- student roll one (Group) -->
          <div id="u76" class="ax_default" data-label="student roll one" data-left="191" data-top="489" data-width="1149" data-height="166">

            <!-- Unnamed (Group) -->
            <div id="u77" class="ax_default" data-left="191" data-top="489" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u78" class="ax_default image1">
                <img id="u78_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u78_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u79" class="ax_default icon">
                <img id="u79_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u79_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u80" class="ax_default" data-left="425" data-top="489" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u81" class="ax_default image1">
                <img id="u81_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u81_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u82" class="ax_default icon">
                <img id="u82_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u82_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u83" class="ax_default" data-left="659" data-top="489" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u84" class="ax_default image1">
                <img id="u84_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u84_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u85" class="ax_default icon">
                <img id="u85_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u85_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u86" class="ax_default" data-left="893" data-top="489" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u87" class="ax_default image1">
                <img id="u87_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u87_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u88" class="ax_default icon">
                <img id="u88_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u88_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u89" class="ax_default" data-left="1127" data-top="489" data-width="213" data-height="166">

              <!-- Unnamed (Image) -->
              <div id="u90" class="ax_default image1">
                <img id="u90_img" class="img " src="images/lecturers_proctoring_page/u45.svg"/>
                <div id="u90_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Shape) -->
              <div id="u91" class="ax_default icon">
                <img id="u91_img" class="img " src="images/lecturers_proctoring_page/u46.svg"/>
                <div id="u91_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Data Curtain (Group) -->
        <div id="u92" class="ax_default" data-label="Data Curtain" data-left="165" data-top="113" data-width="1217" data-height="788">

          <!-- Progress table (Group) -->
          <div id="u93" class="ax_default" data-label="Progress table" data-left="165" data-top="669" data-width="1217" data-height="232">

            <!-- Unnamed (Table) -->
            <div id="u94" class="ax_default">

              <!-- Unnamed (Table Cell) -->
              <div id="u95" class="ax_default table_cell1">
                <img id="u95_img" class="img " src="images/lecturers_proctoring_page/u95.png"/>
                <div id="u95_text" class="text ">
                  <p><span>Student ID</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u96" class="ax_default table_cell1">
                <img id="u96_img" class="img " src="images/lecturers_proctoring_page/u95.png"/>
                <div id="u96_text" class="text ">
                  <p><span>Exam Progress</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u97" class="ax_default table_cell1">
                <img id="u97_img" class="img " src="images/lecturers_proctoring_page/u97.png"/>
                <div id="u97_text" class="text ">
                  <p><span>Finished Questions</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u98" class="ax_default table_cell1">
                <img id="u98_img" class="img " src="images/lecturers_proctoring_page/u98.png"/>
                <div id="u98_text" class="text ">
                  <p><span>Status</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u99" class="ax_default table_cell1">
                <img id="u99_img" class="img " src="images/lecturers_proctoring_page/u99.png"/>
                <div id="u99_text" class="text ">
                  <p><span>100001</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u100" class="ax_default table_cell1">
                <img id="u100_img" class="img " src="images/lecturers_proctoring_page/u99.png"/>
                <div id="u100_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u101" class="ax_default table_cell1">
                <img id="u101_img" class="img " src="images/lecturers_proctoring_page/u101.png"/>
                <div id="u101_text" class="text ">
                  <p><span>25</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u102" class="ax_default table_cell1">
                <img id="u102_img" class="img " src="images/lecturers_proctoring_page/u102.png"/>
                <div id="u102_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u103" class="ax_default table_cell1">
                <img id="u103_img" class="img " src="images/lecturers_proctoring_page/u99.png"/>
                <div id="u103_text" class="text ">
                  <p><span>100002</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u104" class="ax_default table_cell1">
                <img id="u104_img" class="img " src="images/lecturers_proctoring_page/u99.png"/>
                <div id="u104_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u105" class="ax_default table_cell1">
                <img id="u105_img" class="img " src="images/lecturers_proctoring_page/u101.png"/>
                <div id="u105_text" class="text ">
                  <p><span>6</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u106" class="ax_default table_cell1">
                <img id="u106_img" class="img " src="images/lecturers_proctoring_page/u102.png"/>
                <div id="u106_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u107" class="ax_default table_cell1">
                <img id="u107_img" class="img " src="images/lecturers_proctoring_page/u99.png"/>
                <div id="u107_text" class="text ">
                  <p><span>100003</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u108" class="ax_default table_cell1">
                <img id="u108_img" class="img " src="images/lecturers_proctoring_page/u99.png"/>
                <div id="u108_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u109" class="ax_default table_cell1">
                <img id="u109_img" class="img " src="images/lecturers_proctoring_page/u101.png"/>
                <div id="u109_text" class="text ">
                  <p><span>-</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u110" class="ax_default table_cell1">
                <img id="u110_img" class="img " src="images/lecturers_proctoring_page/u102.png"/>
                <div id="u110_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u111" class="ax_default table_cell1">
                <img id="u111_img" class="img " src="images/lecturers_proctoring_page/u99.png"/>
                <div id="u111_text" class="text ">
                  <p><span>100004</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u112" class="ax_default table_cell1">
                <img id="u112_img" class="img " src="images/lecturers_proctoring_page/u99.png"/>
                <div id="u112_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u113" class="ax_default table_cell1">
                <img id="u113_img" class="img " src="images/lecturers_proctoring_page/u101.png"/>
                <div id="u113_text" class="text ">
                  <p><span>Finished</span></p>
                </div>
              </div>

              <!-- Unnamed (Table Cell) -->
              <div id="u114" class="ax_default table_cell1">
                <img id="u114_img" class="img " src="images/lecturers_proctoring_page/u102.png"/>
                <div id="u114_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u115" class="ax_default line">
              <img id="u115_img" class="img " src="images/lecturers_proctoring_page/u115.svg"/>
              <div id="u115_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u116" class="ax_default line">
              <img id="u116_img" class="img " src="images/lecturers_proctoring_page/u115.svg"/>
              <div id="u116_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u117" class="ax_default line">
              <img id="u117_img" class="img " src="images/lecturers_proctoring_page/u115.svg"/>
              <div id="u117_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u118" class="ax_default line">
              <img id="u118_img" class="img " src="images/lecturers_proctoring_page/u115.svg"/>
              <div id="u118_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u119" class="ax_default line">
              <img id="u119_img" class="img " src="images/lecturers_proctoring_page/u115.svg"/>
              <div id="u119_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Exam Progress button (Group) -->
            <div id="u120" class="ax_default" data-label="Exam Progress button" data-left="431" data-top="726" data-width="155" data-height="168">

              <!-- Unnamed (Rectangle) -->
              <div id="u121" class="ax_default tag">
                <div id="u121_div" class=""></div>
                <div id="u121_text" class="text ">
                  <p><span>Normal&nbsp; Presence</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u122" class="ax_default tag">
                <div id="u122_div" class=""></div>
                <div id="u122_text" class="text ">
                  <p><span>Cheating detected</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u123" class="ax_default tag">
                <div id="u123_div" class=""></div>
                <div id="u123_text" class="text ">
                  <p><span>Unstarted</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u124" class="ax_default tag">
                <div id="u124_div" class=""></div>
                <div id="u124_text" class="text ">
                  <p><span>Hand in</span></p>
                </div>
              </div>
            </div>

            <!-- Status button (Group) -->
            <div id="u125" class="ax_default" data-label="Status button" data-left="1113" data-top="726" data-width="96" data-height="170">

              <!-- tag (Rectangle) -->
              <div id="u126" class="ax_default tag-success" data-label="tag">
                <img id="u126_img" class="img " src="images/lecturers_proctoring_page/tag_u126.svg"/>
                <div id="u126_text" class="text ">
                  <p><span>Ongoing</span></p>
                </div>
              </div>

              <!-- tag (Rectangle) -->
              <div id="u127" class="ax_default tag-info" data-label="tag">
                <img id="u127_img" class="img " src="images/lecturers_proctoring_page/tag_u127.svg"/>
                <div id="u127_text" class="text ">
                  <p><span>Finished</span></p>
                </div>
              </div>

              <!-- tag (Rectangle) -->
              <div id="u128" class="ax_default tag-success" data-label="tag">
                <img id="u128_img" class="img " src="images/lecturers_proctoring_page/tag_u126.svg"/>
                <div id="u128_text" class="text ">
                  <p><span>Ongoing</span></p>
                </div>
              </div>

              <!-- tag (Rectangle) -->
              <div id="u129" class="ax_default tag-success" data-label="tag">
                <img id="u129_img" class="img " src="images/lecturers_proctoring_page/tag_u126.svg"/>
                <div id="u129_text" class="text ">
                  <p><span>Ongoing</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Notification (Group) -->
          <div id="u130" class="ax_default" data-label="Notification" data-left="171" data-top="113" data-width="924" data-height="254">

            <!-- Red rectangle notice (Rectangle) -->
            <div id="u131" class="ax_default box_1" data-label="Red rectangle notice">
              <div id="u131_div" class=""></div>
              <div id="u131_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Exist full screen mode (Rectangle) -->
            <div id="u132" class="ax_default box_1" data-label="Exist full screen mode">
              <div id="u132_div" class=""></div>
              <div id="u132_text" class="text ">
                <p><span>Not in the full screen mode</span></p>
              </div>
            </div>

            <!-- Camera not recognized (Rectangle) -->
            <div id="u133" class="ax_default box_1" data-label="Camera not recognized">
              <div id="u133_div" class=""></div>
              <div id="u133_text" class="text ">
                <p><span>Camera not recognized</span></p>
              </div>
            </div>

            <!-- Toggle screen (Rectangle) -->
            <div id="u134" class="ax_default box_1" data-label="Toggle screen">
              <div id="u134_div" class=""></div>
              <div id="u134_text" class="text ">
                <p><span>Toggle screen</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide bar  (Group) -->
        <div id="u135" class="ax_default" data-label="Slide bar " data-left="0" data-top="0" data-width="127" data-height="955">

          <!-- Slide box (Rectangle) -->
          <div id="u136" class="ax_default box_1" data-label="Slide box">
            <div id="u136_div" class=""></div>
            <div id="u136_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Setting icon (Shape) -->
          <div id="u137" class="ax_default icon" data-label="Setting icon">
            <img id="u137_img" class="img " src="images/student_exam_page/setting_icon_u22.svg"/>
            <div id="u137_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Message icon (Shape) -->
          <div id="u138" class="ax_default icon" data-label="Message icon">
            <img id="u138_img" class="img " src="images/student_exam_page/message_icon_u23.svg"/>
            <div id="u138_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Message (Rectangle) -->
          <div id="u139" class="ax_default heading_3" data-label="Message">
            <div id="u139_div" class=""></div>
            <div id="u139_text" class="text ">
              <p><span>Message</span></p>
            </div>
          </div>

          <!-- Result (Rectangle) -->
          <div id="u140" class="ax_default heading_3" data-label="Result">
            <div id="u140_div" class=""></div>
            <div id="u140_text" class="text ">
              <p><span>Result</span></p>
            </div>
          </div>

          <!-- Result icon (Group) -->
          <div id="u141" class="ax_default" data-label="Result icon" data-left="43" data-top="304" data-width="50" data-height="38">

            <!-- Unnamed (Shape) -->
            <div id="u142" class="ax_default icon">
              <img id="u142_img" class="img " src="images/student_exam_page/u27.svg"/>
              <div id="u142_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u143" class="ax_default icon">
              <img id="u143_img" class="img " src="images/student_exam_page/u28.svg"/>
              <div id="u143_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Exam (Rectangle) -->
          <div id="u144" class="ax_default heading_3" data-label="Exam">
            <div id="u144_div" class=""></div>
            <div id="u144_text" class="text ">
              <p><span>Exam</span></p>
            </div>
          </div>

          <!-- Exam icon (Shape) -->
          <div id="u145" class="ax_default icon" data-label="Exam icon">
            <img id="u145_img" class="img " src="images/student_exam_page/exam_icon_u30.svg"/>
            <div id="u145_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Leturer Name (Rectangle) -->
          <div id="u146" class="ax_default heading_3" data-label="Leturer Name">
            <div id="u146_div" class=""></div>
            <div id="u146_text" class="text ">
              <p><span>Lecturer</span></p>
            </div>
          </div>

          <!-- Profile Picture (Shape) -->
          <div id="u147" class="ax_default icon" data-label="Profile Picture">
            <img id="u147_img" class="img " src="images/student_exam_page/profile_picture_u32.svg"/>
            <div id="u147_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Up Bar (Group) -->
        <div id="u148" class="ax_default" data-label="Up Bar" data-left="141" data-top="0" data-width="1288" data-height="94">

          <!-- Up box (Rectangle) -->
          <div id="u149" class="ax_default box_1" data-label="Up box">
            <div id="u149_div" class=""></div>
            <div id="u149_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Proctoring Ongoing (Rectangle) -->
          <div id="u150" class="ax_default heading_1" data-label="Proctoring Ongoing">
            <div id="u150_div" class=""></div>
            <div id="u150_text" class="text ">
              <p><span>Proctoring Ongoing</span></p>
            </div>
          </div>

          <!-- Exam name (Rectangle) -->
          <div id="u151" class="ax_default heading_2" data-label="Exam name">
            <div id="u151_div" class=""></div>
            <div id="u151_text" class="text ">
              <p><span>Hackathon Exam A001</span></p>
            </div>
          </div>

          <!-- Time remained (Rectangle) -->
          <div id="u152" class="ax_default heading_2" data-label="Time remained">
            <div id="u152_div" class=""></div>
            <div id="u152_text" class="text ">
              <p><span>Time remained: 00:00:00</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
