{% extends 'base.html' %}
{% load static %}

{% block one %}
<title>All User Violations Display</title>
<h1>All User Violations Display</h1>
<div>
    <table >
        <tr>
            <th>
                Candidate ID
            </th>
            <th>
                Multiple Person Detected
            </th>
            <th>
                Left Full Screen
            </th>
            <th>
                Left Exam Page
            </th>
            <th>
                Human Voice Detected
            </th>
            <th>
                Looking Away from Screen
            </th>
            <th>
                Face Authentication Failed
            </th>
            <th>
                Other gadgets detected
            </th>
        </tr>
        {% for user in users %}
        <tr>
            <td>
                {{ user.pk }}
            </td>
            <td>
                {{ user.violations.multiperson }}
            </td>
            <td>
                {{ user.violations.fullscreen }}
            </td>
            <td>
                {{ user.violations.screenfocus }}
            </td>
            <td>
                {{ user.violations.audio }}
            </td>
            <td>
                {{ user.violations.facedir }}
            </td>
            <td>
                {{ user.violations.facesim }}
            </td>
            <td>
                {{ user.violations.othergadgets }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>            
{% endblock %}
